.header {
  width: 100%;
  height: 7.6rem;
  background: #0000003a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid #00000052;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logoIcon {
  width: 3.4rem;
}

.logoIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoText {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.logoText span {
  color: #cacaca;
}

.logoLink {
  text-decoration: none;
}

.accountSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}
