.chatPanel {
  /* background: #00000061; */
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageCount {
  opacity: 0.7;
}

.messagesContainer {
  height: calc(100vh - 24rem);
  overflow-y: auto;
  padding: 1.2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.4rem;
}

.emptyState {
  opacity: 0.6;
  font-size: 1.4rem;
}

.messageRow {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  gap: 1.2rem;
  background: #0000000d;
  border-bottom: 1px solid #ffffff0d;
  border-radius: 0.8rem;
}

.avatarWrapper {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  overflow: hidden;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarLetter {
  color: #fff;
}

.messageBody {
  flex: 1;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 1.2rem;
  font-weight: 400;
}

.timestamp {
  font-size: 1.1rem;
  opacity: 0.6;
}

.messageText {
  margin-top: 4px;
  white-space: pre-wrap;
  color: #ddd;
  font-size: 1.1rem;
}

.inputSection {
  display: flex;
  position: relative;
  height: 8.6rem;
}

.textarea {
  font-size: 1.3rem;
  width: 100%;
  padding: 1.2rem 2rem;
  background: #00000027;
  border: none;
  outline: none;
  color: #e8e8e8;
  transition: all 0.3s ease;
  resize: none;
  padding-right: 6.4rem !important;
}

.sendButton {
  width: 4.2rem;
  height: 4.2rem;
  background: #ffffff0a;
  border: none;
  outline: none;
  cursor: pointer;
  /* width: 14rem; */
  transition: all 0.3s ease;
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  /* transform: translateY(-50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sendButton svg path {
  fill: #ddd;
}

.sendButton:hover {
  background: #0b4cae;
}
