/* frontend/styles/globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Stack Sans Notch", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  /* font-family: "Montserrat"; */
  font-weight: 300;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  color: #fff;
  background-image: url("/bg.png");
  /* background-color: rgb(31, 31, 31); */
  background-size: cover;
  background-position: center;
}

.dflex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.gridRootBox {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.gridRoot {
  display: grid;
  grid-template-columns: auto 1fr;
}

.gridRootContent {
}

::-webkit-scrollbar {
  width: 0.6rem;
  /* background: #0000003a; */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff3a;
}

.btn-secondary {
  background: #0b4cae !important;
}
